#map {
    height: 900px;
    width: 100%;

}

.mapsBody {
    height: 900px;
    padding: 0;
}

/*Location list*/
.scrollable {
    height: 900px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checkbox-orange[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #03A9F4;
    background-color: #03A9F4;
}
.locationHeading {
    background-color: #03A9F4;
}

.card {
    height: auto;
}

