#map {
    height: 400px;
    width: 100%;

}

.taxiContainor {
    padding: 0;
}

.mapsBody {
    padding: 0;
    height: 400px;
}

/*Location list*/
.scrollable {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checkbox-orange[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #03A9F4;
    background-color: #03A9F4;
}
.locationHeading {
    background-color: #03A9F4;
}

.card {
    height: auto;
}

/*Media query for maps page*/
@media only screen and (min-width: 600px) {
    /* For tablets: */
    #map {height: 500px;}
    .mapsBody {height: 500px}

}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    #map {height: 600px;}
    .mapsBody {height: 600px}

}